    body{
        margin: 0;
        background-color: hsl(212, 45%, 89%);;
        text-align: center;
    }

    div{
        
    }

    h3{
        
    }

    p{
        
    }

    a{
        text-decoration: none;
        color:  hsl(218, 44%, 22%);
    }

    a:hover{
        color: hsl(220, 15%, 55%);
    }

    img{
        height: 300px;
        width: 300px;
        border-radius: 10px;
        margin: 0;
    }

    .body{
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: auto;
        
    }

    .code{
        text-align: center;
        height: 500px;
        width: 330px;
        padding-top: 15px;
        font-family: 'Outfit', sans-serif;
        font-weight: 400, 700;
        margin: 100px auto;
        background-color: hsl(0, 0%, 100%);
        border-radius: 20px;    
    }

    
    .main{
        margin: 1rem 1rem;
        color: hsl(218, 44%, 22%);
    }

    .sub{
        margin: 1rem 2rem;
        font-size: 15px;
        color: hsl(220, 15%, 55%);
    }

    .attribution{
        margin-top: 20px;
        text-align: center;
        font-family: 'Outfit', sans-serif;
    }

